html,
body {
  height: 100%;
}

body {
  background-color: #212529;
}

svg {
  display: block;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  font-size: 1.2rem;
  gap: 8px;
}

.pagination .page-num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  color: black;
  background-color: white;
  text-decoration: none;
}

.pagination .page-num:hover {
  background-color: #0275d8;
  color: #fff;
}

.pagination .active .page-num {
  background-color: #0275d8;
  color: #fff;
}

.pagination .disabled .page-num {
  background-color: #9fa5aa;
  cursor: not-allowed;
  color: black;
}

.mov-card-desc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.home-page-background {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url("./images/library-img.jpg");
}

.input-field {
  height: 100px !important;
  width: 300px !important;
}

.form-container {
  width: 45%;
}

.icon {
  display: flex;
  background: none;
  border: none;
}

.delete-icon {
  color: red;
}

.edit-icon {
  color: white;
}

.password-eye-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  background: none;
  border: none;
}

.password-strength-container {
  height: 25px;
  margin-top: 1px;
}

.star-icon {
  --icon-size: 32px;

  cursor: pointer;
  height: var(--icon-size);
  width: var(--icon-size);
}

.star-icon-filled {
  fill: yellow;
}

.mov-desc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 1024px) {
  .form-container {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .form-container {
    width: 85%;
  }
}
